### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#rename columns
purchase_data=purchase_data.rename(columns={"Purchase ID":"Purchase_ID", "Item ID":"Item_ID", "Item Name":"Item_Name"})
purchase_data.head()
#purchase_data.describe(include = "all")

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#SN is unique per user. created an array of unique names in SN

unique_player = purchase_data["SN"].unique()

#The lenth of array is the total of unique players
number_of_unique_palyers = len(unique_player)

In [4]:
data = [number_of_unique_palyers]
pd.DataFrame(data, columns=["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#create a series of unique item IDs and get the length to calculate unique items

unique_items = purchase_data["Item_ID"].unique()


#Use mean function on "Price" per purchase to calcualte average price

average_purchase_price = purchase_data["Price"].mean()

#Total purchases is the number of entries/rows. I used purchased ID column.

purchases = purchase_data["Purchase_ID"]

#The total profit is the sum of all transactions.

Total_revenue = purchase_data["Price"].sum()

In [6]:
#Output data on new DataFrame

data = [[len(unique_items), average_purchase_price, len(purchases), Total_revenue]]
pd.DataFrame(data, columns=["Number of Unique Items", "Average Price","Number of purchases", "Total Revenue"])

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#create a new dataframe with rows of repeated users dropped.
minus_duplicated_df = purchase_data.drop_duplicates(['SN'])

#From this new dataframe count the occurrences of each gender
genders = minus_duplicated_df["Gender"].value_counts()

genders.head()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [8]:
#Perform calculations and asssing to variables
male_users = genders[0]
percent_male = (male_users*100)/number_of_unique_palyers
female_users = genders[1]
percent_female = (female_users*100)/number_of_unique_palyers
na_users = genders[2]
percent_na = (na_users*100)/number_of_unique_palyers

In [9]:
# Place all of the data found into a summary DataFrame

gender_demographics = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-disclosed"],
    "Total Counts": [male_users, female_users, na_users],
    "Percentage of Players": [percent_male, percent_female, percent_na]
})
gender_demographics

                          Total Counts  Percentage of Players
0                   Male           484              84.027778
1                 Female            81              14.062500
2  Other / Non-disclosed            11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Used group by to perform desired calculations per Gender group. Looked at how it outputs.

purchase_data.groupby('Gender').Purchase_ID.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_ID, dtype: int64

In [11]:
purchase_data.groupby('Gender').Price.mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
purchase_data.groupby('Gender').Price.sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
#Filtered and created separate dataframes per gender

male_df = purchase_data[purchase_data['Gender']=="Male"]
female_df = purchase_data[purchase_data['Gender']=="Female"]
na_df = purchase_data[purchase_data['Gender']=="Other / Non-Disclosed"]

#From each dataframe (by gender) I grouped by user summed all purchases and averaged total purchase by user
#Mean per user total is on the [3] position of the output.
averages_peruser_male_group = male_df.groupby('SN').sum().mean()
averages_peruser_female_group = female_df.groupby('SN').sum().mean()
averages_peruser_na_group = na_df.groupby('SN').sum().mean()

In [14]:
#Find total purchases per gender
all_purchases = purchase_data["Gender"].value_counts()

all_male_purchases = all_purchases[0]
all_female_purchases = all_purchases[1]
all_na_purchases = all_purchases[2]

#Use groupby and mean to get average purchase by gender

average_male_purchase = purchase_data.groupby('Gender').Price.mean()[1]
average_female_purchase = purchase_data.groupby('Gender').Price.mean()[0]
average_na_purchase = purchase_data.groupby('Gender').Price.mean()[2]

#Use groupny and sum to get total purchase by gender

total_male_purchase = purchase_data.groupby('Gender').Price.sum()[1]
total_female_purchase = purchase_data.groupby('Gender').Price.sum()[0]
total_na_purchase = purchase_data.groupby('Gender').Price.sum()[2]

#Use averages per user per gender_group in [3] to assing value to output variable
Average_male_peruser_total_purchase = averages_peruser_male_group[3]
Average_female_peruser_total_purchase = averages_peruser_female_group[3]
Average_na_peruser_total_purchase = averages_peruser_na_group[3]

In [15]:
#Create a dataframe with all the values calculated

purchase_analysis_df_bygender = pd.DataFrame({
    "": ["Gender", "Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": ["",all_female_purchases, all_male_purchases, all_na_purchases],
    "Average Purchase Price": ["", average_female_purchase, average_male_purchase, average_na_purchase],
    "Total Purchase Value": ["", total_female_purchase, total_male_purchase, total_na_purchase],
    "Avg Total Purchase per Person": ["", Average_female_peruser_total_purchase, Average_male_peruser_total_purchase, Average_na_peruser_total_purchase]
})
purchase_analysis_df_bygender

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender,,,,
1,Female,113,3.20301,361.94,4.4684
2,Male,652,3.01785,1967.64,4.06537
3,Other / Non-Disclosed,15,3.346,50.19,4.56273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#create bins and labels for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39 , 1000]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Create a new column for Age_Group
purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
#Dropped duplicate users for demographic calculations
minus_duplicated_df = purchase_data.drop_duplicates(['SN'])
minus_duplicated_df.shape

(576, 8)

In [18]:
#Look at total unque user by age group
print (minus_duplicated_df.groupby('Age_Group')['SN'].nunique().sum)

<bound method Series.sum of Age_Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64>

In [19]:
#Assing unique user values to variables

under_10_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[0]
under_14_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[1]
under_19_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[2]
under_24_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[3]
under_29_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[4]
under_34_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[5]
under_39_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[6]
under_1000_users = minus_duplicated_df.groupby('Age_Group').Purchase_ID.count()[7]

#Calculate percentages

percent_10_users = (under_10_users*100)/number_of_unique_palyers
percent_14_users = (under_14_users*100)/number_of_unique_palyers
percent_19_users = (under_19_users*100)/number_of_unique_palyers
percent_24_users = (under_24_users*100)/number_of_unique_palyers
percent_29_users = (under_29_users*100)/number_of_unique_palyers
percent_34_users = (under_34_users*100)/number_of_unique_palyers
percent_39_users = (under_39_users*100)/number_of_unique_palyers
percent_1000_users = (under_1000_users*100)/number_of_unique_palyers

In [20]:
#Crreated output dataframe assingned calculations
by_age_df = pd.DataFrame({
    "": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count": [under_10_users, under_14_users, under_19_users, under_24_users, under_29_users, under_34_users, under_39_users, under_1000_users],
    "Percentage of Players": [percent_10_users, percent_14_users, percent_19_users, percent_24_users, percent_29_users, percent_34_users, percent_39_users, percent_1000_users]
})
by_age_df

          Total Count  Percentage of Players
0    <10           17               2.951389
1  10-14           22               3.819444
2  15-19          107              18.576389
3  20-24          258              44.791667
4  25-29           77              13.368056
5  30-34           52               9.027778
6  35-39           31               5.381944
7    40+           12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [22]:
#I created new dataframes for purchases in each group
under_10_df = purchase_data[purchase_data['Age_Group']=="<10"]
under_14_df = purchase_data[purchase_data['Age_Group']=="10-14"]
under_19_df = purchase_data[purchase_data['Age_Group']=="15-19"]
under_24_df = purchase_data[purchase_data['Age_Group']=="20-24"]
under_29_df = purchase_data[purchase_data['Age_Group']=="25-29"]
under_34_df = purchase_data[purchase_data['Age_Group']=="30-34"]
under_39_df = purchase_data[purchase_data['Age_Group']=="35-39"]
under_1000_df = purchase_data[purchase_data['Age_Group']=="40+"]

In [23]:
#Total purchases by age group
purchase_data.groupby('Age_Group').Purchase_ID.count()

Age_Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase_ID, dtype: int64

In [24]:
#Assing calculations to output variables
under_10_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[0]
under_14_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[1]
under_19_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[2]
under_24_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[3]
under_29_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[4]
under_34_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[5]
under_39_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[6]
under_1000_purchases = purchase_data.groupby('Age_Group').Purchase_ID.count()[7]

In [25]:
#Average price per purchase by group
print(purchase_data.groupby('Age_Group').Price.mean())

Age_Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [26]:
#Assing values to output variable
under_10_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[0]
under_14_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[1]
under_19_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[2]
under_24_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[3]
under_29_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[4]
under_34_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[5]
under_39_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[6]
under_1000_purchases_average = purchase_data.groupby('Age_Group').Price.mean()[7]

In [27]:
#Total purchases per age_group
print(purchase_data.groupby('Age_Group').Price.sum())

Age_Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [28]:
#Assing values to output variables
total_under_10_purchase = purchase_data.groupby('Age_Group').Price.sum()[0]
total_under_14_purchase = purchase_data.groupby('Age_Group').Price.sum()[1]
total_under_19_purchase = purchase_data.groupby('Age_Group').Price.sum()[2]
total_under_24_purchase = purchase_data.groupby('Age_Group').Price.sum()[3]
total_under_29_purchase = purchase_data.groupby('Age_Group').Price.sum()[4]
total_under_34_purchase = purchase_data.groupby('Age_Group').Price.sum()[5]
total_under_39_purchase = purchase_data.groupby('Age_Group').Price.sum()[6]
total_under_1000_purchase = purchase_data.groupby('Age_Group').Price.sum()[7]

In [29]:
averages_peruser_under_10 = under_10_df.groupby('SN').sum().mean()
averages_peruser_under_14 = under_14_df.groupby('SN').sum().mean()
averages_peruser_under_19 = under_19_df.groupby('SN').sum().mean()
averages_peruser_under_24 = under_24_df.groupby('SN').sum().mean()
averages_peruser_under_29 = under_29_df.groupby('SN').sum().mean()
averages_peruser_under_34 = under_34_df.groupby('SN').sum().mean()
averages_peruser_under_39 = under_39_df.groupby('SN').sum().mean()
averages_peruser_under_1000 = under_1000_df.groupby('SN').sum().mean()

averages_peruser_under_10

Purchase_ID    588.764706
Age             10.647059
Item_ID        143.352941
Price            4.537059
dtype: float64

In [30]:
averages_peruser_under_10[3]

4.537058823529413

In [31]:
Average_under_10_peruser_total_purchase = averages_peruser_under_10[3]
Average_under_14_peruser_total_purchase = averages_peruser_under_14[3]
Average_under_19_peruser_total_purchase = averages_peruser_under_19[3]
Average_under_24_peruser_total_purchase = averages_peruser_under_24[3]
Average_under_29_peruser_total_purchase = averages_peruser_under_29[3]
Average_under_34_peruser_total_purchase = averages_peruser_under_34[3]
Average_under_39_peruser_total_purchase = averages_peruser_under_39[3]
Average_under_1000_peruser_total_purchase = averages_peruser_under_1000[3]

In [32]:

by_age_df = pd.DataFrame({
    "": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Purchase Count": [under_10_purchases, under_14_purchases, under_19_purchases, under_24_purchases, under_29_purchases, under_34_purchases, under_39_purchases, under_1000_purchases],
    "Average Purchase Price": [under_10_purchases_average, under_14_purchases_average, under_19_purchases_average, under_24_purchases_average, under_29_purchases_average, under_34_purchases_average, under_39_purchases_average, under_1000_purchases_average],
    "Total Purchase Value": [total_under_10_purchase, total_under_14_purchase, total_under_19_purchase, total_under_24_purchase, total_under_29_purchase, total_under_34_purchase, total_under_39_purchase, total_under_1000_purchase],
    "Average Total Purchase per Person": [Average_under_10_peruser_total_purchase,Average_under_14_peruser_total_purchase,Average_under_19_peruser_total_purchase,Average_under_24_peruser_total_purchase,Average_under_29_peruser_total_purchase,Average_under_34_peruser_total_purchase,Average_under_39_peruser_total_purchase,Average_under_1000_peruser_total_purchase]
})
by_age_df

,,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,35-39,41,3.601707,147.67,4.763548
7,40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [34]:
purchase_data_byuser_sum = purchase_data.groupby("SN").sum()
list_top_spenders = purchase_data_byuser_sum.Price.sort_values(ascending=False)

spender_1 = list_top_spenders.index[0]
spender_2 = list_top_spenders.index[1]
spender_3 = list_top_spenders.index[2]
spender_4 = list_top_spenders.index[3]
spender_5 = list_top_spenders.index[4]

top_total_1 = list_top_spenders.head()[0]
top_total_2 = list_top_spenders.head()[1]
top_total_3 = list_top_spenders.head()[2]
top_total_4 = list_top_spenders.head()[3]
top_total_5 = list_top_spenders.head()[4]

purchase_data_byuser_counts = purchase_data.groupby("SN").count()
users_by_purchases = purchase_data_byuser_counts.Purchase_ID.sort_values(ascending=False)

spender_1_purchases = users_by_purchases[spender_1]
spender_2_purchases = users_by_purchases[spender_2]
spender_3_purchases = users_by_purchases[spender_3]
spender_4_purchases = users_by_purchases[spender_4]
spender_5_purchases = users_by_purchases[spender_5]

spender_1_average = top_total_1 / spender_1_purchases
spender_2_average = top_total_2 / spender_2_purchases
spender_3_average = top_total_3 / spender_3_purchases
spender_4_average = top_total_4 / spender_4_purchases
spender_5_average = top_total_5 / spender_5_purchases

In [35]:
top_spenders_df = pd.DataFrame({
    "SN": [spender_1, spender_2, spender_3, spender_4, spender_5],
    "Purchase Count": [spender_1_purchases, spender_2_purchases, spender_3_purchases, spender_4_purchases, spender_5_purchases],
    "Average Purchase Price": [spender_1_average, spender_2_average, spender_3_average, spender_4_average, spender_5_average],
    "Total Purchase Value": [top_total_1, top_total_2, top_total_3, top_total_4, top_total_5]
})
top_spenders_df

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                3.792000                 18.96
1  Idastidru52               4                3.862500                 15.45
2   Chamjask73               3                4.610000                 13.83
3       Iral74               4                3.405000                 13.62
4  Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [55]:
purchase_data_byitem_counts = purchase_data.groupby("Item_ID").count()
items_by_purchases = purchase_data_byitem_counts.Purchase_ID.sort_values(ascending=False)

#determine most popular items
item_1_popular = items_by_purchases.index[0]
item_2_popular = items_by_purchases.index[1]
item_3_popular = items_by_purchases.index[2]
item_4_popular = items_by_purchases.index[3]
item_5_popular = items_by_purchases.index[4]

#determine total purchases per item
item_1_purchases = items_by_purchases[item_1_popular]
item_2_purchases = items_by_purchases[item_2_popular]
item_3_purchases = items_by_purchases[item_3_popular]
item_4_purchases = items_by_purchases[item_4_popular]
item_5_purchases = items_by_purchases[item_5_popular]

purchase_data_byitemid = purchase_data.set_index("Item_ID")

#Get item names
item1_name_list = purchase_data_byitemid.loc[item_1_popular,'Item_Name']
item1_name=item1_name_list.values[0]

item2_name_list = purchase_data_byitemid.loc[item_2_popular,'Item_Name']
item2_name=item2_name_list.values[0]

item3_name_list = purchase_data_byitemid.loc[item_3_popular,'Item_Name']
item3_name=item3_name_list.values[0]

item4_name_list = purchase_data_byitemid.loc[item_4_popular,'Item_Name']
item4_name=item4_name_list.values[0]

item5_name_list = purchase_data_byitemid.loc[item_5_popular,'Item_Name']
item5_name=item5_name_list.values[0]

#Get item prices
item1_price_list = purchase_data_byitemid.loc[item_1_popular,'Price']
item1_price=item1_price_list.values[0]

item2_price_list = purchase_data_byitemid.loc[item_2_popular,'Price']
item2_price=item2_price_list.values[0]

item3_price_list = purchase_data_byitemid.loc[item_3_popular,'Price']
item3_price=item3_price_list.values[0]

item4_price_list = purchase_data_byitemid.loc[item_4_popular,'Price']
item4_price=item4_price_list.values[0]

item5_price_list = purchase_data_byitemid.loc[item_5_popular,'Price']
item5_price=item5_price_list.values[0]

#Calculate total amount purchase per item
item1_total_list = item_1_purchases*item1_price_list
item1_total_amount = item1_total_list.values[0]

item2_total_list = item_2_purchases*item2_price_list
item2_total_amount = item2_total_list.values[0]

item3_total_list = item_3_purchases*item3_price_list
item3_total_amount = item3_total_list.values[0]

item4_total_list = item_4_purchases*item4_price_list
item4_total_amount = item4_total_list.values[0]

item5_total_list = item_5_purchases*item5_price_list
item5_total_amount = item5_total_list.values[0]

In [62]:
frame_df = pd.DataFrame({
    "Item ID": [item_1_popular, item_2_popular, item_3_popular, item_4_popular, item_5_popular],
    "Item Name": [item1_name, item2_name, item3_name, item4_name, item5_name],
    "Purchase Count": [item_1_purchases, item_2_purchases, item_3_purchases, item_4_purchases, item_5_purchases],
    "Item Price": [item1_price, item2_price, item3_price, item4_price, item5_price],
    "Total Purchase Value": [item1_total_amount, item2_total_amount, item3_total_amount, item4_total_amount, item5_total_amount]
})
frame_df

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
3,145,Fiery Glass Crusader,9,4.58,41.22
4,92,Final Critic,8,4.88,39.04

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame