### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#rename columns
purchase_data=purchase_data.rename(columns={"Purchase ID":"Purchase_ID", "Item ID":"Item_ID", "Item Name":"Item_Name"})
purchase_data.head()
#purchase_data.describe(include = "all")

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [74]:
#SN is unique per user. created an array of unique names in SN

unique_player = purchase_data["SN"].unique()

#The lenth of array is the total of unique players
number_of_unique_palyers = len(unique_player)

In [75]:
data = [number_of_unique_palyers]
pd.DataFrame(data, columns=["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
#create a series of unique item IDs and get the length to calculate unique items

unique_items = purchase_data["Item_ID"].unique()


#Use mean function on "Price" per purchase to calcualte average price

average_purchase_price = purchase_data["Price"].mean()

#Total purchases is the number of entries/rows. I used purchased ID column.

purchases = purchase_data["Purchase_ID"]

#The total profit is the sum of all transactions.

Total_revenue = purchase_data["Price"].sum()

In [77]:
#Output data on new DataFrame

data = [[len(unique_items), average_purchase_price, len(purchases), Total_revenue]]
pd.DataFrame(data, columns=["Number of Unique Items", "Average Price","Number of purchases", "Total Revenue"])

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [78]:
#create a new dataframe with rows of repeated users dropped.
minus_duplicated_df = purchase_data.drop_duplicates(['SN'])

#From this new dataframe count the occurrences of each gender
genders = minus_duplicated_df["Gender"].value_counts()

genders.head()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [79]:
#Perform calculations and asssing to variables
male_users = genders[0]
percent_male = (male_users*100)/number_of_unique_palyers
female_users = genders[1]
percent_female = (female_users*100)/number_of_unique_palyers
na_users = genders[2]
percent_na = (na_users*100)/number_of_unique_palyers

In [80]:
# Place all of the data found into a summary DataFrame

gender_demographics = pd.DataFrame({
    "": ["Male", "Female", "Other / Non-disclosed"],
    "Total Counts": [male_users, female_users, na_users],
    "Percentage of Players": [percent_male, percent_female, percent_na]
})
gender_demographics

                          Total Counts  Percentage of Players
0                   Male           484              84.027778
1                 Female            81              14.062500
2  Other / Non-disclosed            11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:
#Used group by to perform desired calculations per Gender group. Looked at how it outputs.

purchase_data.groupby('Gender').Purchase_ID.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_ID, dtype: int64

In [82]:
purchase_data.groupby('Gender').Price.mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [83]:
purchase_data.groupby('Gender').Price.sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [84]:
#Filtered and created separate dataframes per gender

male_df = purchase_data[purchase_data['Gender']=="Male"]
female_df = purchase_data[purchase_data['Gender']=="Female"]
na_df = purchase_data[purchase_data['Gender']=="Other / Non-Disclosed"]

#From each dataframe (by gender) i grouped by user summed all purchases and averaged total purchase by user
#Mean per user total is on the [3] position of the output.
averages_peruser_male_group = male_df.groupby('SN').sum().mean()
averages_peruser_female_group = female_df.groupby('SN').sum().mean()
averages_peruser_na_group = na_df.groupby('SN').sum().mean()

In [85]:
#Find total purchases per gender
all_purchases = purchase_data["Gender"].value_counts()

all_male_purchases = all_purchases[0]
all_female_purchases = all_purchases[1]
all_na_purchases = all_purchases[2]

#Use groupby and mean to get average purchase by gender

average_male_purchase = purchase_data.groupby('Gender').Price.mean()[1]
average_female_purchase = purchase_data.groupby('Gender').Price.mean()[0]
average_na_purchase = purchase_data.groupby('Gender').Price.mean()[2]

#Use groupny and sum to get total purchase by gender

total_male_purchase = purchase_data.groupby('Gender').Price.sum()[1]
total_female_purchase = purchase_data.groupby('Gender').Price.sum()[0]
total_na_purchase = purchase_data.groupby('Gender').Price.sum()[2]

#Use averages per user per gender_group in [3] to assing value to output variable
Average_male_peruser_total_purchase = averages_peruser_male_group[3]
Average_female_peruser_total_purchase = averages_peruser_female_group[3]
Average_na_peruser_total_purchase = averages_peruser_na_group[3]

In [86]:
#Create a dataframe with all the values calculated

purchase_analysis_df_bygender = pd.DataFrame({
    "": ["Gender", "Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": ["",all_female_purchases, all_male_purchases, all_na_purchases],
    "Average Purchase Price": ["", average_female_purchase, average_male_purchase, average_na_purchase],
    "Total Purchase Value": ["", total_female_purchase, total_male_purchase, total_na_purchase],
    "Avg Total Purchase per Person": ["", Average_female_peruser_total_purchase, Average_male_peruser_total_purchase, Average_na_peruser_total_purchase]
})
purchase_analysis_df_bygender

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender,,,,
1,Female,113,3.20301,361.94,4.4684
2,Male,652,3.01785,1967.64,4.06537
3,Other / Non-Disclosed,15,3.346,50.19,4.56273

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame